<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
            <ion-text *ngIf="!isWatching" color="light" class="fw700" > 
               No trackings found
                </ion-text> 
                <ion-text *ngIf="isWatching" class="blink"  > 
                    Running...
                     </ion-text> 
                

        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <form >
          <ion-item>
            	<ion-select disabled ="{{isWatching}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="languageSelected" style="min-width: fit-content;color: white;font-family: serif;font-weight: bold;" placeholder="Select Train" (ionChange)=setLanguage($event)>
                  <ion-select-option value="{{train._id}}" *ngFor="let train of trainData">{{train.name}}</ion-select-option>
              </ion-select>
            </ion-item>
      </form>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <!-- <ion-item lines="none" color="medium">
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Settings
        <ion-icon name="construct"></ion-icon>
      </ion-button>
    </ion-item> -->
  </ion-card>

  <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
    <ion-button disabled ="{{isWatching}}" expand="full" color="dark" margin shape="round" (click)="trackingStatus(0)">
     Start Tracking
    </ion-button>
    <ion-button  disabled ="{{!isWatching}}" margin shape="round" expand="full" color="secondary" (click)="trackingStatus(3)" >
      Stop Tracking
    </ion-button>
    <ion-card >
        <ion-grid>
            <ion-row>
              <ion-col col-6><ion-badge color="success">Tracked Points :{{respValue}}</ion-badge></ion-col>
            </ion-row>
          </ion-grid>
     
      
      
    </ion-card>

  </ion-card>


  
  <!-- <popmenu></popmenu> -->
</ion-content>
  