<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tracked List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
  <!-- <div class="bg-profile" text-center padding>
    <img src="assets/img/live train logo.png">
  </div> -->

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
        
       <ion-badge color="warning" (click)="setMapNull()">Clear Map</ion-badge>
      <ion-list>
        <ion-item *ngFor="let item of trainData" >
          <ion-button color="primary" (click)="getMarkers(item.selectedPoints,item.name)">{{item.name}} <ion-icon name="open"></ion-icon></ion-button>
          <ion-button color="danger" (click)="removePath(item._id)"><ion-icon name="close-circle"></ion-icon></ion-button>
          
          <ion-icon name="bus" *ngIf="item.selectedPoints !=undefined && item.selectedPoints.length > 0"></ion-icon>
          <p *ngIf="item.selectedPoints ==undefined || item.selectedPoints.length == 0">Not Found</p><br>
          <p *ngIf="item.selectedPoints !=undefined && item.selectedPoints.length != 0">Tracked Points: {{item.selectedPoints.length}}</p>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>

</ion-content>
